name: Build and Push to ECR

on:
  push:
    branches:
      - main

jobs:
  build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        run: |
          aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws/w4l9y5r3

      - name: Build, tag, and push image to Amazon ECR
        run: |
          docker build -t indomak-ecr:v4 .
          docker tag indomak-ecr:v4 public.ecr.aws/w4l9y5r3/indomak-ecr:v4
          docker push public.ecr.aws/w4l9y5r3/indomak-ecr:v4
  deploy:
    runs-on: ubuntu-latest
    needs: build-push
    steps: 
      - name: check my ssh key
        run: |
          echo "${{ secrets.SSH_KEY }}" > mykey.pem
          chmod 600 mykey.pem
          cat mykey.pem
        

          ssh -o StrictHostKeyChecking=no -i mykey.pem ubuntu@34.224.37.135 "docker pull public.ecr.aws/w4l9y5r3/indomak-ecr:v4"

          ssh -o StrictHostKeyChecking=no -i mykey.pem ubuntu@34.224.37.135 "docker run -d --name indomak-ecr-v4 -p 8083:80 public.ecr.aws/w4l9y5r3/indomak-ecr:v4"


